server {
    listen              {{ nginx_status_listen + ':' if nginx_status_listen else ''}}{{ nginx_status_port }}{% if nginx_status_default_server %} default_server{% endif %};
    server_name         {{ nginx_status_server_name }} ;

    access_log          {{ nginx_log_dir }}/nginx.access.log;
    error_log           {{ nginx_log_dir }}/nginx.error.log;
    
    location {{ nginx_status_path }} {
       stub_status{% if nginx_status_requires_arg %} on{% endif %};
{% if nginx_status_allow_ip %}
       allow {{ nginx_status_allow_ip }};
{% endif %}
{% if nginx_status_allow_localhost %}
       allow 127.0.0.1;
{% endif %}       
       deny  all;
       satisfy any;
    }
}
